extends layout

block content
  .contenido
    h1 Administrador de abogado
    form(action="/", method="post")
      input#nombre(type="text", name="nombre", placeholder="Nombre")
      input#especialidad(type="text", name="especialidad", placeholder= "Especialidad")
      input#casos(type="text", name="casos", placeholder= "Casos ganados")
      input#guardar(type="submit", value="Guardar")
    .tabla
      table
        thead
          tr
            td#numero #
            td Nombre
            td Especialidad
            td Casos
        tbody

