:root{
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  font-family: 'Sedgwick Ave', cursive;
  font-size: 4em;
  text-align: center;
}

.contenido{
  height: 80vh;
}

#numero{
  width: 50px;
}

tr{
  height: 4em;
  font-family: 'Arvo', serif;
  font-size: 1.5em;
}

td{
  width: 300px;
  text-align: center;
}

